@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.font-marcellus {
  font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
